:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --skills-bg: #f9cb9c;
  --wu-orange: #f68714;
  --wu-green: #3dba6a;
  --wu-white: #fef8f8;
  --wu-blue: #0e1538;
  --wu-black: #111;
  --wu-gray: #444;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
  overflow-x: clip;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

body.barrel {
  animation: barrel 3s;
}

main {
  background: var(--wu-blue);
}

section {
  max-width: var(--max-width);
  margin: 0px auto;
  width: 100%;

  >h2,
  >div>h2 {
    position: relative;
    z-index: 0;
    rotate: -1deg;
    display: inline-block;

    &::after {
      position: absolute;
      content: "";
      inset: 0;
      z-index: -1;
      background: var(--wu-orange);
      rotate: 1deg;

      view-timeline-name: --revealing-after;
      view-timeline-axis: block;
      animation: linear revealLtr both;
      animation-timeline: --revealing-after;
      animation-range: entry 0% cover 30%;
    }
  }
}

button {
  background: var(--wu-orange);
  padding: 10px;
  color: var(--wu-black);
  text-align: center;
  font-weight: bold;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;

  &:hover {
    background: transparent;
    border: 1px solid var(--wu-orange);
    color: var(--wu-orange);
    cursor: pointer;
  }

  &.inverted {
    background: transparent;
    border: 1px solid var(--wu-orange);
    color: var(--wu-orange);

    &:hover {
      background: var(--wu-orange);
      color: var(--wu-black);
      border: 1px solid transparent;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

a.link {
  position: relative;
}

// a.link:active::before {
//   rotate: 2deg;
// }

a.link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--wu-orange);
  // transform: scaleX(0.3);
  transform: scaleX(0);
  transition: transform 0.3s ease;
  rotate: -2deg;
}

a.link:hover::before {
  transform: scaleX(1);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.wu-toast {
  --toastify-color-progress-dark: var(--wu-orange);
  --toastify-color-success: var(--wu-green);
  --toastify-icon-color-success: var(--wu-green);
  --toastify-color-progress-success: var(--wu-green);
}

.legal {
  max-width: var(--max-width);
  background-color: var(--wu-white);
  color: var(--wu-black);
  padding: 1rem;
  margin: 0 auto;
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 1rem;
  }

  a {
    text-decoration: underline;
    color: var(--wu-blue);
  }
}


@keyframes revealLtr {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes barrel {
  from {
    rotate: 0deg
  }

  to {
    rotate: 360deg;
  }
}
