.about {
  >div {
    line-height: 1.3;
    font-size: 1.3rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 40px;
    border: 1px solid var(--wu-orange);
    background-image: url("/path.svg");
    background-size: contain;
    background-repeat: repeat-y;
    background-position-x: center;
  }

  p {
    margin: inherit;
  }

  .highlight {
    color: var(--wu-orange);
  }

  .cv {
    display: flex;
    justify-content: end;

    a {
      display: flex;
      align-items: center;
      color: var(--wu-orange);
      text-decoration: none;
      font-size: 1.5rem;
      margin-top: 1rem;
      gap: .5em;
    }
  }
}
