.about {
  >div {
    line-height: 1.3;
    font-size: 1.3rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 40px;
    border: 1px solid var(--wu-orange);
    background-image: url("/path.svg");
    background-size: contain;
    background-repeat: repeat-y;
    background-position-x: center;
  }

  p {
    margin: inherit;
  }

  .highlight {
    color: var(--wu-orange);
  }

  .cv {
    text-align: right;
  }
}
