.achievement {
  background: var(--wu-black);
  display: flex;
  align-items: center;
  gap: 1em;
  filter: grayscale(1);
  border-radius: var(--border-radius);
  padding: .5em;

  &.active {
    filter: inherit;
  }

  >div {
    width: 100%;
  }

  svg {
    color: var(--wu-orange);
    height: 2em;
    width: 2em;
    flex-shrink: 0;
  }

  h3 {
    color: var(--wu-orange);
  }

  p {
    font-weight: 200;
  }
}
