.container {
  position: absolute;
  height: 100vh;
  overflow: hidden;
}

/* Hexagon using clip-path */
.hexagon {
  position: relative;
  width: 100px;
  height: 110px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: 2s;

  &:hover {
    transition: 0s;
    background: var(--wu-orange);
    animation: fade 5s infinite alternate;
  }
}

.row {
  display: inline-flex;
  margin-top: -32px;
  margin-left: -50px;
}

.row:nth-child(even) {
  margin-left: 0;
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.1;
  }
}
