.container {
  position: absolute;
  height: 100vh;
  overflow: hidden;
}

/* Hexagon using clip-path */
.hexagon {
  position: relative;
  width: 100px;
  height: 110px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: 2s;
  animation: show .5s calc((var(--hexagon-y) + var(--hexagon-x)) * .2s + 1s);

  &:hover {
    background: var(--wu-orange);
    transition: 0s;
  }
}

.row {
  display: inline-flex;
  margin-top: -32px;
  margin-left: -50px;
}

.row:nth-child(even) {
  margin-left: 0;
}

@keyframes show {
  0% {
    background: none;
  }

  100% {
    background: var(--wu-orange);
  }
}
