.marquee {
  --gap: 2rem;
  position: relative;
  display: flex;
  overflow: hidden;
  gap: var(--gap);
  background-color: var(--skills-bg);
  padding: 1rem;
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll 120s linear infinite;
  list-style-type: none;
}

.marquee__content_reverse {
  animation-direction: reverse;
}

/* Pause animation when reduced-motion is set */
@media (prefers-reduced-motion: reduce) {
  .marquee__content {
    animation-play-state: paused !important;
  }
}

.marquee:hover .marquee__content {
  animation-play-state: paused;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
