.nav {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  padding: 0 2rem;
  background-color: #0e1538;
  color: #fff;
  gap: 1rem;
  position: sticky;
  top: 0;
  z-index: 100;

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    li {
      margin-right: 1rem;

      a {
        color: #fff;
        text-decoration: none;
        font-size: 1.5em;
      }
    }
  }
}
