.project {
  color: #111;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  text-decoration: none;
  box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
  cursor: pointer;

  &:hover {
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    translate: translateY(-5px);
    rotate: 1deg;
    scale: 1.02;
  }

  img {
    width: 100%;
    height: auto;
  }

  .description {
    display: flex;
  }

  .content {
    padding: 1rem;
    background: #fef8f8;
    flex: 1;
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: start;

    .header {
      display: grid;
      gap: .5em;
      align-items: center;

      small {
        color: #666;
      }
    }

    .skillSet {
      margin: 1em 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1em;
      height: 1em;
      overflow: hidden;

      img {
        height: 1rem;
      }
    }

    .links {
      display: flex;
      justify-content: space-around;
      gap: 1em;

      a {
        color: #111;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 0.5em;
      }
    }
  }
}
