.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  gap: 1rem;

  input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }

  span {
    color: #111;
    background: #fef8f8;
    padding: 0.5rem;
    border-radius: 0.25rem;
  }
}

.projectgrid {
  display: grid;
  grid-template-columns: 1fr;

  @media screen and (min-width: 600px) {
    grid-template-columns: 1fr 1fr;
  }


  gap: 2rem;
  margin: 4rem 0;
  padding: 0;
}
