.projects {
  h2 {
    font-size: 2rem;
    display: inline-block;
  }

  p {
    display: inline-block;
    margin-left: 1rem;
    color: var(--wu-white);
  }
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  gap: 1rem;
  overflow: hidden;

  // input {
  //   padding: 0.5rem;
  //   border: 1px solid #ccc;
  //   border-radius: 0.25rem;
  // }
  input {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    border: 1px solid var(--wu-orange);
    background: var(--wu-black);
  }

  input::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }

  input:focus {
    background: var(--wu-orange);
  }

  span {
    color: #111;
    background: var(--wu-white);
    padding: 0.5rem;
    border-radius: 0.25rem;
  }
}

.projectgrid {
  display: grid;
  grid-template-columns: 1fr;

  @media screen and (min-width: 400px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 700px) {
    grid-template-columns: 1fr 1fr 1fr;
  }


  gap: 2rem;
  margin: 2rem 0;
  padding: 0;

  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    width: 100%;
    text-align: start;
  }

  .noResult {
    text-align: center;
    font-size: 1.5rem;
    color: var(--wu-orange)
  }
}
