.project {
  color: #111;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  text-decoration: none;

  img {
    width: 100%;
    height: auto;
  }

  .content {
    padding: 1rem;
    background: #fef8f8;
    flex: 1;
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: start;

    .header {
      display: flex;
      gap: 1em;
      align-items: center;
    }

    .skillSet {
      margin: 1em 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1em;

      img {
        height: 1rem;
      }
    }

    .description {
      // max-height: 0;
      overflow: hidden;
      transition: height 0.5s cubic-bezier(1, 0.63, 0.25, 1.5)
    }

    .links {
      display: flex;
      justify-content: space-around;
      gap: 1em;

      a {
        color: #111;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 0.5em;
      }
    }
  }
}
