.achievements {
  section {
    padding-block: 2em;

    >h2 {
      font-size: 2rem;
    }

    >p {
      margin-block: 1em;
    }
  }

  .achievementGrid {
    display: grid;
    gap: .5em;
    margin-block: 2em;
  }
}
