.achievements {
  section {
    padding: 2em 1em;

    >h2 {
      font-size: 2rem;
    }

    >p {
      margin-block: 1em;
    }
  }

  .achievementGrid {
    display: grid;
    gap: .5em;
    margin-block: 2em;
  }

  button {
    background: var(--wu-orange);
    padding: 10px;
    color: var(--wu-black);
    text-align: center;
    font-weight: bold;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;

    &:hover {
      background: transparent;
      border: 1px solid var(--wu-orange);
      color: var(--wu-orange);
      cursor: pointer;
    }

    &.inverted {
      background: transparent;
      border: 1px solid var(--wu-orange);
      color: var(--wu-orange);

      &:hover {
        background: var(--wu-orange);
        color: var(--wu-black);
        border: 1px solid transparent;
      }
    }
  }

  .confirmWrapper {
    display: flex;
    gap: 1em;
    align-items: center;
  }
}
