.achievements {
  section {
    padding: 2em 1em;

    >h2 {
      font-size: 2rem;
    }

    >p {
      margin-block: 1em;
    }
  }

  .achievementGrid {
    display: grid;
    gap: .5em;
    margin-block: 2em;
  }

  .confirmWrapper {
    display: flex;
    gap: 1em;
    align-items: center;
  }
}
